<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
<!-- <import resource="classpath:/mongo-config.xml"/> -->
<!-- needed for certain annotations like @PostConstruct -->
<context:annotation-config />
<import resource="mongo-config.xml"/>
<!-- Our service layer components -->
<context:component-scan base-package="com.ecom.retail.poc" />
<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="location">
			<value>classpath:/myretail.properties</value>
		</property>
	</bean> -->

<!-- Our RESTful resources -->
<!-- No need to declare since Jersey will handle lifecycle for us -->
<!--<context:component-scan base-package="com.ecom.retail.poc"/>-->
<!-- Configure the Mongo Server -->

<bean id="myProperties"  class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
           <property name="cacheSeconds" value="1"/> 
         <property name="basenames">
      <list>
        <value>classpath:myretail</value>        
      </list>
    </property>

</bean>

</beans>